<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h2 class="text-light primary py-3">Student Management System</h2>
        <div class="d-flex">
            <button class="btn btn-success" (click)="add()" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add student</button>&nbsp;
            <button class="btn btn-warning">Logout</button>
        </div>
    </div>
</nav>
<!-- table  -->
<table class="table mt-4" >
    <thead>
        <tr>
            <th scope="col" > Id </th>
            <th scope="col" > Name </th>
            <th scope="col" > Email </th>
            <th scope="col" > mobile </th>
            <th scope="col" > City </th>
            <th scope="col" >Action</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of allstudentdata " >
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.mobile }}</td>
        <td>{{ data.city }}</td>
        <td>
        <button class="alert alert-info" (click)="edit(data)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
        <button class="alert alert-danger" (click)="deletestud(data)" >Delete</button></td>
    </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background:blue ;">
          <h5 class="modal-title" style="color: aliceblue; font-size:26px; margin-left:62px; font-weight:620;  " id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


            <form [formGroup]="formValue" >
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input  formControlName="name" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                    <small  *ngIf="formValue.get('name')?.invalid && formValue.get('name')?.touched" class="text-danger" >Name is required</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Mobile</label>
                    <input formControlName="mobile" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter mobile">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">City</label>
                    <input formControlName="city" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city">
                </div>
                
                
              </form>




          ...
        </div>
        <div class="modal-footer"  style="background:blue ;">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showadd" type="button" class="btn btn-success" (click)="addstudent()" [disabled]="formValue.invalid" >Add</button>
          <button *ngIf="showupdate" type="button" class="btn btn-success" (click)="update()" [disabled]="formValue.invalid">Update</button>
        </div>
      </div>
    </div>
  </div>










    
<div class="alert alert-primary" role="alert">    
  A simple primary alert—check it out!    
</div>    
<div class="alert alert-secondary" role="alert">    
  A simple secondary alert—check it out!    
</div>    
<div class="alert alert-success" role="alert">    
  A simple success alert—check it out!    
</div>    
<div class="alert alert-danger" role="alert">    
  A simple danger alert—check it out!    
</div>    
<div class="alert alert-warning" role="alert">    
  A simple warning alert—check it out!    
</div>    
<div class="alert alert-info" role="alert">    
  A simple info alert—check it out!    
</div>    
<div class="alert alert-light" role="alert">    
  A simple light alert—check it out!    
</div>    
<div class="alert alert-dark" role="alert">    
  A simple dark alert—check it out!    
</div>    